snippet standalone "Standalone TikZ figure"
\documentclass{standalone}

\usepackage{tikz}
\usetikzlibrary{positioning}

\begin{document}

\begin{tikzpicture}
$0
\end{tikzpicture}
\end{document}
endsnippet
